<div ng-include="'../Templates/Layouts/navbar.html'"></div>
<section class="cadastrarvagas.section">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-md-12">
                <svg width="50" height="100">
                    <rect width="50" height="50" style="fill:rgb(255, 171, 122)"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="container">
        <form>
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="cadastravagas.cargo" value="cargo" name="cargo" placeholder="Cargo">
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" class="form-control" id="cadastravagas.cidade" value="cidade" name="cidade" placeholder="Cidade">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="text" class="form-control" id="cadastravagas.regiao" value="regiao" name="regiao" placeholder="Região">
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="cadastravagas.empresasanteriores" value="empresasanteriores" name="empresasanteriores" placeholder="Empresas Anteriores">
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="cadastravagas.setores" value="setores" name="setores" placeholder="Setores">
                    </div>
                    <div class="col-md-12 form-group">
                        <textarea type="text" class="form-control" id="cadastravagas.competencias" value="competencias" name="competencias" placeholder="Competências" />
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-4 wrapper_submit">
                    <div class="wrapper_inputs_submit">
                        <input type="submit" id="cadastravagas.submit" value="cadastrar" name="cadastravagas" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

